:root {
    --primary-text-color:#757575;
    --secondary-text-color: rgba(33, 33, 33, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --background-secondary-color: rgba(245, 244, 250, 1);
    --hero-and-footer-color:rgba(47, 48, 58, 1);
    --clients-color:#AFB1B8;
    --trans-accent-color:rgba(33, 150, 243, 0.9);
    --form-boder-color:#21212133;
}
/* ///////////////////// */

body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family:Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }
    /* ////////////////// */


/* BGC secondary  rgba(245, 244, 250, 1); */

/* text color  rgba(117, 117, 117, 1); */

/* secondary text color rgba(33, 33, 33, 1); */

/* accent rgba(33, 150, 243, 1) */

/* address #ffffff  */

/* footer contact background: rgba(255, 255, 255, 0.6); */

h1,h2,h3,h4 {
    margin-top: 0px;
}
/* ////////// */

p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
/* ///////////////// */

img {
    display: block;
    min-width: 100%;
}
/* ////////////// */


.container {
    width: 1200px;
    /* outline: 2px solid tomato; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* /////////////// */

.page-header {
    border-bottom: 1px solid #ECECEC; 
}
/* ////////////// */



.container--for-nav {
    display: flex;
    align-items: center;
    margin-top: 0px;
}
/* ////////////////////// */

.site-nav {
    display: flex;
    align-items: center;
}
/* /////////////// */




.logo--header {
/* outline: 1px solid tomato; */

    font-family: raleway, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
/* /////////// */

.logo--header--web {
    color: var(--accent-color);
}
/* ////////////// */

.list {
    list-style:none;
    margin: 0;
    padding-left: 0px;}

    /* /////////////placeholder */


/* site nav  */


.site-nav__list {
    display: flex;
    margin-left: 93px;
}
/* ///////////  */


.site-nav__list .site-nav__item + .site-nav__item {
    margin-left: 50px;
    /* outline: 2px solid tomato; */
}
/* /////////////// */


.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    /* outline: 2px solid tomato; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* transition-property: color;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
    
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
/* /////////////////// */


.site-nav__link:hover, 
.site-nav__link:focus, 
.auth__email:hover,
.auth__email:focus {
    color:var(--accent-color);
}
/*//////////////////*/


.team__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 /* /////////// */



/* auth */

.auth {
    margin-left: auto;
    display: flex;
}
/* ///////// */


.auth__email {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:var(--primary-text-color);
    /* outline: 1px solid teal; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        /* color:var(--primary-text-color); */
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}
/* ///////////////// */
    
.auth  .auth__item + .auth__item {
    margin-left: 50px;
}
/* ///////////////// */


/* icons */

.auth__icon {
    margin-right: 10px;
    fill:currentColor;
    vertical-align: middle;

     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /////////////////// */


.auth__email:hover .auth__icon {
fill:var(--accent-color);
}
/* ////////////////// */


/* hero */


.hero {
    margin-top: 0;
    margin-bottom: 30px;
    /* outline: 2px solid tomato; */
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;

    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
/* ///////////////// */


/* Our sevvices  */

.services__desc {
    display: block;

    color:#fff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    /* text-align: center; */
}

.desc__box {
    display: flex;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    background-color:rgba(47, 48, 58, 0.8);
    justify-content: center;
    align-items: center;
}
/* ///////////////// */

.services__thumb {
    position: relative;
}
/* /////////// */


.services__list {
    display: flex;
}
/* /////////// */

.services__item {
    width: calc( (100% - 60px) / 3);
}
/* ///////////// */


.services__item + .services__item {
    margin-left: 30px;
}
/* ////////// */


.bgc-footer {
    background-color: var(--hero-and-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
/* /////////// */


/* advantages */

.advantages {
    margin-top: 0px;
}
/* ///////////// */

.advantages--list {
    display: flex;
}
/* /////////// */


.advantages--item {
width: calc((100% - 90px) / 3);
margin-right: 30px;
/* outline: 1px solid teal; */
}
/* ///////////// */

.advantages--item:nth-child(4n) {
    margin-right: 0px;
}
/* ///////////// */



.section-title {
    color:var(--secondary-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
}
/* /////////////// */




.subheader {

    margin-bottom: 10px;
    
color:var(--secondary-text-color);

font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
/* ///////////// */

.advantages--icon {
    display: block;
}
/* ///////////////  */

.advantages--box {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color:var(--background-secondary-color);
}
/* /////////////// */



/* our team */

.team {
    padding-top: 0px;
    padding-bottom: 0px;
}
/* ////////////// */


.team--list {
    display: flex;
}
/* //////////// */

.team--item {
    text-align: center;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}
/* ////////////////// */

.team--item:nth-child(4n) {
    margin-right: 0px;
}
/* ////////////////////// */




.team--subheader {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color:var(--secondary-text-color);
}
/* ////////////////// */

.team__desc--padding {
    padding-top: 30px;
    padding-bottom:30px;
    padding-right: 32px;
    padding-left: 32px;
}
/* ///////// */


.subheader--text {
    font-size: 14px;
    line-height: 1.71;
 }
 /* ////////////// */

 
 .team__position {
    font-size: 16px;
    line-height: 1.19;
 }

.section--grey {
    background-color: var(--background-secondary-color);
   }
   /* /////////////// */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* /////////////////// */


.services {
    padding-top: 0px;
}
/* ////////////// */

.section-bgc {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color:#188CE8;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    /* //////////////////////// */

 
.icon-list__item + .icon-list__item {
    margin-left: 10px;
}
/* ///////////// */

.team__icon-list {
    display: flex;
    margin:0px;
    margin-top: 16px;
    justify-content: center;
}
/* ///////////  */
.team__social-svg {
    display: block;
    fill:#afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover .team__social-svg , .team__link:focus .team__social-svg {
    fill:#ffffff;
}
/* //////////////// */

.team__link:hover , .team__link:focus  {
    background-color:var(--accent-color);
}
/* ////////////// */

/* button */

.hero__button {
    color: #fff;
    background-color:var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor:pointer;
    border:transparent;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        /* ///////////////// */

.hero__button:hover, .hero__button:focus {
    background-color:#188CE8;
    /* //////////////////// */
    
} 
.button__container .hero__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ////////////// */

/* Our clients */

.client {
    display:flex;
}
/* /////////// */

.client-item {
    display: block;
}
.client-item + .client-item {
    margin-left: 30px;
}

.client-svg {
    display: block;
    margin: auto;
    fill:currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
/* ///////////////// */

.client-link:hover .client-svg , .client-link:focus .client-svg {
    fill: var(--accent-color);
}
/* ////////////////// */

.client-link {
    display: block;
            width: 170px;
            height: 92px;
            display: flex;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            color: var(--clients-color);

            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            /* outline: 1px solid teal; */
        }
 /* ////////////////// */



 .client-link:hover , .client-link:focus  {
     border-color: var(--accent-color);
 }
 /* ///////////////// */


 /* footer */


.logo--footer {
    display: block;
    color: #fff; 
    background-color:var(--hero-and-footer-color);

    font-family: raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 20px;
}
/* /////////// */

.logo--footer--web {
        color: var(--accent-color);
    }
    /* /////////// */

 address {
     color: #fff; 
     background-color:var(--hero-and-footer-color);
 }
/* //////////////// */


 .address--no-italic {
     font-style:normal;
     color:rgb(255, 255, 255);
    }
    /* ////////////////// */

.address__list {
    margin-left: auto;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
/* ////////////// */


.footer-info {
    margin-top: 0px;
    display: flex;
    align-items: baseline;  
}
/* ////////////// */

/* .advantages .hide {
    margin-bottom: 0px;
} */

.visually-hidden:not(:focus):not(:active) {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}
/* ///////////////// */




.address__contact {
    color:rgba(255, 255, 255, 0.6)
}
/* /////////////// */

.address__item {
    margin-top: 9px;
}
/* /////////////////// */

/* test!! */

/* .test-item {
    display: block;
}

.test-item + .test-item {
    margin-left: 20px;
}
.list-test {
    display: flex;
    justify-content: center;
}
.test-link {
    display: flex;
    border: 3px solid teal;
    width: 200px;
    height: 200px;
    background-color: aqua;
        justify-content: center;
align-items: center;}
.test-svg {
    display: block;
} */


/* social-media NEW */

.social__subheader--color {
    color: #ffffff;
    margin-bottom: 20px;
}
/* ///////////// */
.social {
    margin-left: 70px;
    /* outline: 2px solid tomato; */
}
/* ///////////// */

.social__list {
    padding-left: 0px;
    display: flex;
    /* outline: 1px solid teal; */
}
/* ////////////////// */


.social__item {
    display: block;
}
/* /////////////////// */

.social__item + .social__item {
    margin-left: 10px;
}
/* /////////// */
.social__link {
    color: #ffffff;
    display:flex;
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /////////// */

.social__svg {
    display: block;
    fill:#ffffff;
}
/* //////////// */


.social__link:hover , .social__link:focus {
    background-color: var(--accent-color);
}
/* ///////// */

.subscribe {
    margin-left: 93px;
}
/* /////////// */

.subscribe__subheader--color {
    color: #ffffff;
    margin-bottom: 20px;
}
/* ///////////// */

.subscribe__form {
    display: flex;
}
/* /////////// */

.subscribe__email {
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    height: 50px;
    width: 358px;
    background-color:var(--hero-and-footer-color);
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;

    color: #fff;
}
/* //////////// */

.subscribe__email::placeholder {
    line-height: 1.2;
}
/* /////////// */

.button__container {
    display: flex;
    align-items: center;
    padding-right: 28px;
    padding-left: 29px;
}
/* /////////////// */

.subscribe__svg {
    margin-left: 10px;
}
/* //////////// */




 /* from here starting adding additional styles for portfolio.html */
 
 .site-nav__list .current {
     position: relative;
     color: var(--accent-color);
 }
 /* ////////////// */

 .site-nav__list .current::after {
     position: absolute;
     display: inline-block;
     content:'';
     width: 100%;
     height: 4px;
     background-color:var(--accent-color);
     bottom: 0px;
     left: 0;
     border-radius: 2px;
 }
 /* ///////////// */


.filter-button {
     color:var(--secondary-text-color);
     background-color: var(--background-secondary-color);
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor:pointer;
    padding: 6px 22px;
    border:transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) , 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /////////////////// */




.portfolio__filter .filter-button:hover , .portfolio__filter .filter-button:focus {
    color:#fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* ////////////////// */



.portfolio__filter .filter__item + .filter__item {
margin-left: 8px;
}
/* //////////////// */




.cardset__thumb {
    position: relative;
    display: flex;
    overflow:hidden;



    /* justify-content: center;
    align-items: center; */
}
/* ///////////// */


.thumb-for-meta {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--trans-accent-color);
        opacity: 0;

        transform: translate(0%, +100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
/* ////////////// */




.meta {
    justify-content: center;
    display: block;
   
  
    padding: 63px 24px;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}
/* //////////////////// */



.cardset__link:hover .thumb-for-meta , .cardset__link:focus .thumb-for-meta {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    background-color: var(--trans-accent-color);
    opacity: 1;

    transform: translate(0%, 0%);
}
/* //////////// */


.cardset__subheader {
    color:var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
/* //////////// */

.cardset__text {
font-size: 16px;
line-height: 1.88;
color: var(--primary-text-color);
}
/* ///////////// */


.list a {
    text-decoration: none;
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ///////////////// */




.portfolio__header {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* ///////// */






.portfolio__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
/* ///////////// */



.cardset {

    display: flex;
    flex-wrap: wrap;
}
/* /////////////////////// */



.cardset__item {
    width: calc( (100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}
/* ////////////// */


.cardset__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ///////////////// */

.cardset__link:hover , .cardset__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

 .cardset__item:nth-child(3n) {
    margin-right: 0px;
}
/* ///////////////// */



 .cardset__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
/* ////////////// */ 



.cardset__desc {
    padding: 20px 24px 20px 24px;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
}
/* ////////////// */



/* backdrop  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* //////// */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events:none;
    }
    /* //////////// */

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(1.3);
    opacity: 0;
}
/* ///////// */

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50% )  scaleX(1.0);
    opacity: 1;
    
    width: 528px;
    height: 581px;
    background-color: #fff;

    padding: 40px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) , opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
}
/* ///////////// */

textarea {
    resize: none;
}
/* ////////// */

input {
    border-color: var(--form-boder-color);
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;;
    /* border: 1px solid var(--form-boder-color); */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    cursor: pointer;
    outline: none;

    display: block;
    /* position: relative; */

    width: 100%;
    height: 40px;

    padding-left: 42px;
}
/* ///////////// */

 input:focus {
    border-color: var(--accent-color);
    border-radius: 4px;
    border-width: 1px;
    /* background-color: none; */
}
/* ///////////// */


input:focus + .modal--svg {
    fill:var(--accent-color);
}
/* //////////// */


.modal-svg-position {
    position: relative;
}
/* ///////// */


.modal--svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* //////////////// */




.modal__form-field {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    /* position: relative; */

    /* background-color:tomato; */}
/* //////////// */

.modal__comment-field {
    padding-bottom: 20px;
}
/* ////////// */



.modal__license-field {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    padding-left: 39px;
    /* align-items:center; */

    /* outline: 2px solid tomato; */

    position:relative;
}
/* ///////////// */



.modal__license-field .modal__form-label {
    display: block;
    margin-left: 7px;
    outline: 1px solid blue;
    /* padding-bottom: 0; */
}
/* ////////////////// */

 


/* position: absolute; */
/* top: 0; */
/* left: 0; */


/* .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
} */

.modal__square-uncheked {
    position: absolute;
    left: 18px;
    top: +50%;

    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-text-color);
    border-radius: 2px;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
/* ////////////// */



.checkbox:checked ~ .modal__square-uncheked {
background-image: url('../images/icon-check.svg');
background-size: contain;
background-origin:border-box;
border:transparent;
 }
 /* ////////////// */

.modal__submit-button {
    color: #fff;
        background-color: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
        border: transparent;
        border-radius: 4px;
        padding: 10px 32px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 55px;
        margin-top: 30px;
}
/* ////////////// */



.modal__comment {
    padding: 12px 16px;
    border-color: var(--form-boder-color);
    border-radius: 4px;
    border-width: 1px;
    height: 120px;

    outline: none;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ///////////// */



.modal__comment:focus {
    border-color: var(--accent-color);
}
/* ////////////// */



.modal__comment::placeholder {
    color:var(--form-boder-color);
}
/* ///////////// */

.license-link {
    color: var(--accent-color);
}
/* //////////// */

.modal--header {
    font-weight: 700;
    line-height: 1.15;
    font-size: 20px;
    color: var(--secondary-text-color);
    margin-bottom: 12px;
}
/* ///////////// */



.modal__form-label {
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 4px;
}
/* /////////// */



input[type=checkbox] {
    width: auto;
    height: auto;
    display: block;
    font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;


    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* //////////// */

.modal-close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    /* outline: 1px solid teal; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1) ;
    

    margin: 0;
    padding: 0;
    background-color:#fff;

    /* outline:none; */
}
/* ///////////// */

.modal__close-button {
    display: block;
    fill:var(--secondary-text-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    /* outline: 3px solid violet; */
}
/* ////////////// */

.modal-close:hover .modal__close-button {
    fill: var(--accent-color);
    /* outline: none; */
} 
/* ///////////////// */


/* 
..modal-close:active {
    background-color:none;
    outline: none; */
/* } */