


.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &-bgc {
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/background-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: #188CE8;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &-title {
        color: $secondary-text-color;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 50px;
    }
}


%container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

%list {
    list-style: none;
    margin: 0;
    padding-left: 0px;
}